$yellow:#ffe494;
$black:#020202;
$brown:#564105;
$white100:#F9F5F5;
$white200:#e1dcdc;
$white300:#F5F5F5;

$white400:#7d7979;
$white500:#514F4F;
$white600:#2b2a2a;
$green:#299D36;

$mobile-bkp: 576px;
$tablet-bkp: 767px;
$big-tablet-bkp: 992px;
$laptop-bkp: 1200px;
$mac-bkp: 1380px;
$zoom125-bkp: 1500px;
$desktop-bkp: 1800px;

$tablet-container: 720px;
$big-tablet-container: 960px;
$laptop-container: 1140px;
$zoom125-container: 1294px;
$desktop-container: 1550px;